@{
    ViewData["Title"] = "Reset Password Confirmation";
}
 
<h1>Reset Password Confirmation</h1>
<p>
    The password has been reset. Please <a asp-controller="Account" asp-action="Login"> Sign In</a>
</p>